/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    padding-top: 70px;
}
.mar_l_10 {
  margin-left: 10px;
}
.mar_t_50 {
  margin-top: 50px;
}
.mar_b_5 {
  margin-bottom: 5px;
}
.mar_b_10 {
  margin-bottom: 10px;
}
.mar_b_20 {
  margin-bottom: 20px;
}
.mar_b_50 {
  margin-bottom: 50px;
}
.font-red {
  color: red;
}
.font-gray {
  color: #808080;
}
.font-bold {
  font-weight: bold;
}
.font-red ul {
  list-style-type: none;
}
.img_w_100 {
  width: 100px;
}
.text-center {
  text-align: center;
}
